@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}:root{
    --bright-orange:hsl(31,77%,52%);
    --dark-cyan:hsl(184,100%,22%);
    --very-dark-cyan:hsl(179,100%,13%);
    --paragraph:hsla(0,0%,100%,.75);
    --very-light-gray:hsl(0,0%,95%);

    --big-shoulders:'Big Shoulders Display', cursive;

    --lexend-deca:'Lexend Deca', sans-serif;
}
body{
    background-color: var(--very-light-gray);
}
.container{
    margin:4rem 1.5rem;
}
.title{
    font-family: var(--lexend-deca);
    text-transform:uppercase;
    font-size:2rem;
    color:var(--very-light-gray);
    padding-bottom:1.2rem;
}
img{
    padding-bottom:1.2rem;
}

.content{
    background-color: var(--bright-orange);
    padding:2.5rem 2.5rem;
    border-radius:8px 8px 0 0 ;
}
.description{
    color:var(--paragraph);
    font-size:1.5rem;
    font-family:var(--big-shoulders);
    line-height:35px;
    padding-bottom:2rem;
}
.yellow-btn{
    color:var(--bright-orange);
    font-family:var(--big-shoulders);
    text-decoration:none;
    background-color: var(--very-light-gray);
    padding:10px 20px;
    border-radius:20px;
    text-transform: capitalize;
}
.blue-btn{
    color:var(--dark-cyan);
    font-family:var(--big-shoulders);
    text-decoration:none;
    background-color: var(--very-light-gray);
    padding:10px 20px;
    border-radius:20px;
    text-transform: capitalize;
}
.green-btn{
    color:var(--very-dark-cyan);
    font-family:var(--big-shoulders);
    text-decoration:none;
    background-color: var(--very-light-gray);
    padding:10px 20px;
    border-radius:20px;
    text-transform: capitalize;
}
.yellow-btn:hover{
    background-color: var(--bright-orange);
    border:1px solid #fff;
    color:var(--very-light-gray);
}
.blue-btn:hover{
    background-color: var(--dark-cyan);
    border:1px solid #fff;
    color:var(--very-light-gray);
}
.green-btn:hover{
    background-color: var(--very-dark-cyan);
    border:1px solid #fff;
    color:var(--very-light-gray);
}
.content-1{
    background-color: var(--dark-cyan);
    padding:2.5rem 2.5rem;
    
}
.content-2{
    background-color: var(--very-dark-cyan);
    padding:2.5rem 2.5rem;
    border-radius:0 0 8px 8px;
}
@media only screen and (min-width: 992px){

    .container{
        padding: 4rem 10rem;
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(1,1fr);
        }
        .description{
            font-size:.98rem;
            line-height:30px;
            
        }
        .content,
        .content-1,
        .content-2{
            padding:2.5rem 4rem;
            font-weight:100;
        }
        .content{
            border-radius:8px 0 0 8px;
        }
        .content-2{
            border-radius:0 8px 8px 0;
        }
}

